@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(245, 245, 242), rgb(235, 235, 232));
}

/* fonts */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

/* layout */

main {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  row-gap: 2.5rem;
  padding-inline: 1.5rem;
}

.flex-container > section {
  max-width: 350px;
  max-height: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0 0 0 / 0.1), 0 5px 12px -4px rgba(0 0 0 / 0.15);
  transition: box-shadow 200ms ease;
}

.flex-container > section > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

article {
  max-width: 50%;
  margin-inline: auto;
  margin-block: 4rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0 0 0 / 0.05), 0 5px 12px -4px rgba(0 0 0 / 0.1);
  background-color: #ffffff;
  border-radius: 15px;
}

article > h3 {
  margin-bottom: 0.5rem;
}

footer {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}

/* actions */

.flex-container > section:hover {
  box-shadow: 0 5px 20px rgba(0 0 0 / 0.5);
}

/* mobile */

@media (max-width: 768px) {
  article {
    order: 1;
    max-width: 350px;
    margin: 0.5rem auto 2.5rem;
  }

  .flex-container {
    order: 2;
    margin-bottom: 1rem;
  }

  footer {
    order: 3;
  }
}
